@import url("https://fonts.googleapis.com/css?family=Cabin:400,600,700|Krona+One");
.webvr-ui-button {
  background: transparent;
  border: none;
  width: 300px;
  height: 5vh !important;
  position: absolute !important;
  bottom: 10;
  left: 50%;
  cursor: pointer;
  z-index: 10000;
  opacity: 1;
  margin-left: -150px;
  display: none; }
  .webvr-ui-button :hover {
    color: #0f0; }
  .webvr-ui-button .webvr-ui-title {
    color: #fff; }
  .webvr-ui-button .webvr-ui-logo .webvr-ui-svg {
    fill: #fff; }
  .webvr-ui-button .webvr-ui-svg-error {
    display: none; }
