 .webvr-ui-button {
     background: transparent;
     border: none;
     width: 300px;
     height: 5vh !important;
     position: absolute !important;
     bottom: 10;
     left: 50%;
     cursor: pointer;
     z-index: 10000;
     opacity: 1;
     margin-left: -150px;
      :hover {
         color: #0f0;
     }
     .webvr-ui-title {
         color: #fff;
     }
     .webvr-ui-logo {
         .webvr-ui-svg {
             fill: #fff;
         }
     }
     .webvr-ui-svg-error {
         display: none;
     }
     display: none; //disappeared
 }