#social-links{
    position: absolute;
    top: 10px;
    right: 0px;
    display: table;
    width: 120px;
    z-index: 1000;
    ul{
        display: table-row;
        li{
            display: table-cell;
        }
    }
    @media(max-width:540px){
        top:auto;
        bottom:0;
    }
}