$darkest_gray: #101619;
$dark_gray: #999999;
$gray: #999999;
$light_gray: #cccccc;
$lightest_gray:#f4f4f4;
$gray_text:#8A8A8A;

$darkest_blue: #102246;
$dark_blue: #183369;
$blue: #4173D8;
$light_blue:#a2c1ef;
$green_text: #2ecc71;
$green: #6FAD48;
$green_bg:#3A6129;
$light_green: #74fcac;

// 2020 colors

$hot_yellow: #f1c40f;
$bright-yellow:#ffe270;
$power-purple:#3f2a8c;
$deep-purple:#1d1649;
$light-purple: #bf49f2;
$haven-red:#e74c3c;

$brand_summit: #810776;

