input[type=checkbox].form-checkbox {
    width: 22px;
    height: 22px;
    border: 3px solid $light_blue;
    background-color: #10161a;
    margin-right: 5px;
}

.filters, #hardware-filters {
    padding: .5px;
    border-radius: 1em;
    margin-bottom: 2em;
    h3 {
        color: $light_blue;
        font-size: 14px;
        text-transform: uppercase;
        border-bottom: $light_blue;
        border-bottom-width: 1px;
        border-bottom-style: dotted;
        border-bottom-color: currentcolor;
        margin-bottom: 5px;
        padding: .25em .25em .25em .25em;
    }
}

.filter-list {
    margin-bottom: .1em;
    .filter-type {
        font-weight: 700;
    }
}

#psa {
    color:#fff;
    background-color: $deep-purple;
    padding: 24px;
    margin-bottom:3px;
    p {font-size: 14px;
       line-height: 125%;
       font-weight:600} 
    .banner-product {width:160px; float:left;margin-right:20px;margin-bottom:60px}    
    .banner-logo {width:108px;display:block; margin: 0 0 20px 0;}
    a {font-weight:700}
}

#active-filters
{clear:both}

#profile_logos {
    div {
        a {}
    }
}

.row.result-header {padding-left:15px!important;font-size: 14px}

.profile-link {
    font-weight: 700;
    font-size: em;
}

#directory-filters {
    background-color: $dark_gray;
    background: linear-gradient(135deg, #000000 0%, #373737 28%, #3f3f3f 57%, #1c1c1c 86%, #000 100%);
    border-radius: 10px;
    box-shadow: -5px 2px 5px 3px rgba(0, 0, 0, 0.3);
    margin-bottom:20px;
    h4 {
        color: $light_blue;
        padding-top: 1em;
        padding-bottom: .5em;
        text-align: center;
        font-size: 14px;
        text-transform: uppercase;
    }
}
.get-listed{
    text-align: center;
    font-weight: 700;
}

.accordion-drawer {
    overflow-y: auto;
    max-height: 400px;
    height: auto;
    background: #ebf1f6;
    background: linear-gradient(to bottom, #ebf1f6 1%, #ebf1f6 53%, #d5ebfb 100%);
    padding: 8px;
    border-radius: 10px;
    border: 3px grove #fff;
    margin-bottom: 10px;
}

.data-filter {
    display: block;
    .data-label {
        display: inline-block;
        vertical-align: middle;
        margin-top: -15px;
        white-space: nowrap;
        overflow: hidden;
        font-weight: bold;
        color: $dark_gray;
        max-width: 185px;
    }
}

.profile-label {
    font-weight: 700;
    text-align: center;
    display: block;
    border-bottom: 1px solid $lightest_gray;
    height: 50px;
    span {
        display: block;
    }
    span.profile-main {
        font-weight: 700;
        white-space: nowrap;
        overflow: hidden;
    }
    span.profile-sub {
        font-weight: 400;
        white-space: nowrap;
        overflow: hidden;
    }
}

.form-checkbox:checked {
    border-color: transparent;
    background-color: currentColor;
    background-size: 100% 100%;
    background-position: 50%;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 16 16' fill='%23fff' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.707 7.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4a1 1 0 00-1.414-1.414L7 8.586 5.707 7.293z'/%3E%3C/svg%3E");
}

body::-webkit-scrollbar {
    width: 1em;
}

body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
}

.profile-data {
    margin-top: -20px;
    ul {
        padding-top: 0px;
        padding-left: 0px;
        li {
            list-style-type: none;
            margin-left: 0;
            padding-left: 0;
            display: table-row;
        }
    }
}

.profile-button {
    clear: right;
    display: table-cell;
    position: relative; 
} 

.active-filters {
    /*background-color: #eee;
    position: absolute;
    width: 100%;
    border: 1px solid #333;
    top: 0;
    left: 0;
    visibility: hidden;
    */
    padding-top: 8px;
    line-height: 125%;
    padding-left: 8px;
    span {
        font-size: 9pt;
        display: block;
        line-height:125%
    }
    ul {
        li {
            font-size: 9pt;
        }
    }
}

.filter-type {
    font-weight: 700;
    padding-top:5px;
}

.active-filters:hover {
    visibility: visible;
}

.row.display-flex {
    display: flex;
    flex-wrap: wrap;
}

.row.display-flex>[class*='col-'] {
    display: flex;
    flex-direction: column;
}

.info-holder {
    padding-bottom: 2em;
}