.main{
    max-width: 1280px;
    margin:0px auto 60vh;
    h1.title{
      
     
       
        color:#fff;
        text-align: center;
        text-transform: uppercase;
        padding:10px 0px 5px;

    }
    h2.featuring{
        color:#fff;
        font-size:1.2rem;
        text-align: center;
        font-weight:400;
    }
    input, textarea {
        color:#20448c;
        font-weight: 600;
    }
    
    color:#fff;
    a{
        color:cyan;
    }
    p{
        margin-bottom:1em ;
    }


}
#main.landscape{
    width:54%;
    left:2%;
    margin-left:0px;
    position: relative;
}
.light-mode{
    background-color: #f8f8f8;
    p{
        color:#111;
        font-weight:400;
    }
}
.title-bar{
    background:rgba(0,0,0,0.8);
    margin-bottom:1rem;
    padding-bottom: 1rem;
    position: relative;
    display: block;
    margin-top:50px;
    z-index: 100;
    
    @media(max-width:1280px){
        max-width: 640px;
        margin:0px auto;
    }
    h1.title{
       // font-family: 'Zen Dots', cursive;
     
        
        color:#fff;
        text-align: center;
        text-transform: uppercase;
        padding:10px 0px 5px;

    }
    h2.featuring{
        color:#fff;
        font-size:1.2rem;
        text-align: center;
        font-weight:400;
    }
}
.whitebg{

    background-color:#fff !important;
    color:#000 !important;
    p, li, strong{
        color:#000 !important; 
    }
}
.polys{
    font-family:"CreamCake";
    font-size:125%;
}
#nomination-ballot{
    background-color: rgba(0,0,0,0.8);
    position: relative;
    margin-top:-500px;
    padding: 25px;
    border-radius: 10px;
    border:3px solid rgba(255,255,255,0.3);
    box-shadow: 0px -1px 33px 4px rgba(193,230,86,0.86);
    overscroll-behavior:auto;
    h3{
        font-family: 'AgencyFB';
        font-size:2.5em;
        line-height: 160%;
        .polys{
            font-family:"CreamCake";
            font-size: 150%;
            font-weight:normal;
            sup{
                font-size: 75%;
                margin: 0px -8px;
                sup{
                    font-size: 75%;
                    margin: 0px;
                }
            }
        }
       
    }
    p{
        display: block;
        position: relative;

    }
    textarea{
        height:225px;
        width:100%;
        z-index: 10000;
        position: relative;
    }
    input{
        width:100%;
        display: table-cell;
        margin: 5px;
        z-index: 10000;
        position: relative;
    }
    .wp-block-contact-form-7-contact-form-selector{

        display: -webkit-inline-box;
    }
    .wpcf7-list-item{
        label{
            display: table-row;
            span.wpcf7-list-item-label{
                display: table-cell;
                font-size: 80%;
            }
           
        }

    }

}
