#ros-accordion{
    h3.ros{
        padding:3px !important;
        margin-top:3px;
        padding-top:3px;
        border-top:1px dashed $hot-yellow;
        line-height: 1;
        font-weight: 600;
        font-family: 'Zen Dots';
        font-size:20px;
        letter-spacing: 1px;
        span.spacer{
            height:5px;
            display: block;
        }
    }
    div{
        overflow-x: hidden;
        margin-bottom:3px;
    }
    .session-times{
      display: none;
    }
    .profile-card{
        
        line-height: 120%;
        font-size: .8rem;
        .social-icon{
            color:#fff;
            display: table-cell;
            padding:5px;
            
        }
        span{
            display: block;
            text-align: center;
            font-size: .7rem;
           
        }
        span.profile-name{
            font-weight: 600;
            font-family: 'Zen Dots';
            font-size: .8rem;
            padding-bottom:5px;
            border-bottom: 1px dashed #ccc;
            margin-bottom:5px;
        }
        .blurb{
          display: none;
        }
    }
    p{
        font-size: 20px;
       
    }
    .profile-thumbnail{
      
        overflow:hidden;
;       padding:15px;
        img{
            width:150px;
            display: block;
            margin:0px auto;
            height:100%;
            border-radius: 50%;
            border:2px solid #fff;
            box-shadow: 0px 0px 10px 10px rgba(255,173,2,0.4);
        }
    }
    .card-info{
       visibility: hidden;
    }

    .fifth{
        width:20% !important;
    }
    .sponsor-card{}
}
#ros-accordion.cards{
   width:1200px !important;
    span.blurb{
      visibility: hidden;
    }
    #speaker-list{
        width:80%;
        margin-left:23%;
       .fifth{
           width:20% !important;
           .profile-name{
            width: 100%;
            display: block;
            margin-left: 0px;
            font-size: 14px;
            height:30px;
          }
       }
       //PRESENTATION OVERRIDES
       .presentation{
           width:80% !important;
           span.blurb{
            visibility: visible;
            display: block;
            width: 100%;
            text-align: left;
            margin-left: 0%;
            font-size: 14px;
            line-height: 150%; 
            p{
              padding-left: 0px;
              font-size: 16px; 

            }
          }
          .profile-card{
            margin-top:30px;
          }
           margin-left: 10% !important;
           .profile-thumbnail {
             width:30%;
             display: inline-block;
              img{
                margin-left:0px;
                width:100%;
             } 
           
           }
           .profile-info{
             width: 65%;
             display: inline;
             float:right;
            span.credential span{
              font-size:16px !important;
              line-height: 150% !important;
              font-weight: 600;
            }
        
            span.profile-name{
              text-decoration: underline;
              display: block;
              text-align: center;
              border-bottom: none;
              font-size: 24px;
              height:30px;
            }
            

           }
       }
       //PAIR OVERRIDES
       .pair{ width:35% !important;
        margin-left:10%;

         .profile-card{
         
          .profile-name{
            width: 100%;
            display: block;
            margin-left: 0px;
            font-size: 20px;
            height:30px;
          }
          span.credential span{
            font-size:16px !important;
            line-height: 150% !important;
            font-weight: 600;
          }
         }
       }

    }
    .card-mode{
        border: 3px solid #fff;
        width:1200px;
        height:630px;
        padding: 20px;
        margin-bottom:50px;
        background: url(images/bg/BizSummitCardBG.jpg) center center no-repeat;
        position: relative;
        overflow: hidden;
    }
    h3.ros{
        display: none;
    }
    h3{
        font-weight: 600;
        font-family: 'Zen Dots';
        text-align: right;
        font-size: 24px;
        padding-left:25%;
        margin:0px auto 25px;
        text-shadow: 3px 3px 7px rgba(239, 255, 227, 0.3);
        text-align: center;
    }
    p{
        font-size: 20px;
        padding-left:23%;
    }
    .card-info{
        visibility: visible;
     }
     h3.card-info{
      
      font-size: 36px;
     }
     .social{
         visibility: hidden;
     }
     .profile-card{
        
        span.credential span{
          font-size:14px !important;
          line-height: 150% !important;
          font-weight: 600;
          text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
        }

        
        span.profile-name{
           
            font-weight: 600;
            font-size: 16px;
            padding-bottom:5px;
            border-bottom: 1px dashed #ccc;
            margin:10px auto 5px;
            line-height: 150%;
            letter-spacing: 1px;
            width: 100%;
            text-shadow: 2px 2px 2px rgba(0, 0, 0, 1);
        

            display: block;
          
        }
        .samantha-mathews{
          font-size:15px !important;
          
        }
        .terry-schussler{
          font-size:14px !important;
          
        }
       
    }
    .session-times{
      display: block;
      text-align: right;
      margin:0px auto 25px;
      
      li{
        display: inline-block;
        padding:0px 10px;
        text-align: center;
        font-weight: 900;
        border-right:1px dashed #ccc;
        font-size:24px;
        line-height: 24px;
        letter-spacing: 1px;
        span{
          font-weight: 600;
          font-size:50%;
        }
      }
      li:last-child{
        border-right:none;
      }
    }
    .card-footer{
      position: absolute;
      bottom: 7px;
      left: 25%;
      height: 80px;
      width: 75%;
      overflow: hidden;
      line-height: 35px;
      padding-top: 9px;
      .event-info{
        .rsvp-link{
          text-shadow: 0px 0px 7px rgba(0, 0, 0, 1);
          font-size:20px;
          display: inline-block;

          
          
        }
        a{
          visibility: visible !important;
          font-size: 24px;
          font-weight: 600;
        }
      }
        .sponsor-logo{
         top:0px;
          width: 240px;
          height:80px;
          position: absolute;
          right: 10px;
          a{ 
            img{
              width:240px;
            }
         }
        }
    }

}



