.slideshow{
   // background-color: rgba(0,255,0,0.4);
    border-radius:50%;

    .slide-wrap{
      //  background-color: rgba(255,255,255,0.4);
       
       // border-radius:50%;
        position: relative;
        overflow:hidden;
        font-size:1em;
        h2{
           position: absolute;
           top:5%;
           width: 61.8%;
           left: 50%;
           margin-left: -30.9%;
           //font-size:110%;
        }
        section{
            
            position: absolute;
            //border-radius:10%;
            //padding:5%;
            overflow:hidden;
            width: 80%;
            height:0px;
            padding-bottom: 60%;
            margin-top:25%;
            left:10%;
            div.content{
                //overflow-y:scroll;
                padding-right:50px;
                margin-right:-50px;
                
            }
            p{
                margin-bottom:0.5em;
                line-height: 120%;
              //  font-size:75%;
                @media(max-width: 480px){
                    //font-size:3vw;
                }
            }
        }
    }

}


#wheel-menu-content, #projects-content {
    //background-color:rgba(0, 0, 255, 0.1);
    width: 100%;
    height: 100%;
    position: absolute;
 //   font-size: 1.5em;
    z-index: 2;
    /* THIS PART HANDLES THE FONT- 
   for slides, positioning is in .slide-wrap in slick.scss */
    h2 {
        //font-size: 200%;
        font-weight: bold;
        text-align: center;
        color:#fff;
        //text-shadow: 1px 1px #fff;
        margin-bottom: .5em;
    }
    section {
        line-height: 120%;
        color: #fff;
     //   background-color: rgba(61, 61, 61, 0.8);
      // font-size: 120%;
        text-shadow: 1px 1px #333;
       
    }
}

#screen.horizontal {
    .slideshow{
        //
       
     
         .slide-wrap{
            height:50vh;

         }
        }
    #wheel-menu-content, #projects-content {
        width:50vh;
        height:50vh;
        left:50%;
        top:50%;
        margin-left:-25vh;
        margin-top:-25vh;
    }
}
#screen.vertical {
    .slideshow{
        //
       
     
         .slide-wrap{
            height:50vw;

         }
        }
    #wheel-menu-content, #projects-content {
        width:50vw;
        height:50vw;
        left:50%;
        top:50%;
        margin-left:-25vw;
        margin-top:-25vw;
    //    background-color: rgba(0,255,0,0.1);
    }
}

.slick-slider {
    position: relative;
    display: block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list {
    position: relative;
    overflow: hidden;
    display: block;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #FFD700;
    &:focus {
        outline: none;
    }

    &.dragging {
        cursor: pointer;
        cursor: hand;
    }
}

.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    left: 0;
    top: 0;
    display: block;

    &:before,
    &:after {
        content: "";
        display: table;
    }

    &:after {
        clear: both;
    }

    .slick-loading & {
        visibility: hidden;
    }
}

.slick-slide {
    float: left;
    height: 100%;
    min-height: 1px;
    [dir="rtl"] & {
        float: right;
    }

    img {
        display: block;
    }

    &.slick-loading img {
        display: none;
    }

    display: none;

    &.dragging img {
        pointer-events: none;
    }

    .slick-initialized & {
        display: block;
    }

    .slick-loading & {
        visibility: hidden;
    }

    .slick-vertical & {
        display: block;
        height: auto;
        border: 1px solid transparent;
    }
}



.slick-arrow.slick-hidden {
    display: none;
}

.slick-dots {

    position: relative;
    bottom: 50px;
    display: block;
    width: 100%;
    padding: 0;
    list-style: none;
    text-align: center;
    padding-left:0px !important;
        li {
            display: inline-block;
            margin: 0px .5em;
            button {
                font-size: 0;
                line-height: 0;

                width: 20px;
                height: 20px;
                padding: 5px;
                cursor: pointer;
                color: #3bbfd6;
                border: 0;
                outline: none;
                background: radial-gradient(circle at center, #FFD700 0%, #FFA500 70%, #FFD700 70%);
                border-radius: 50%;
                
            }
        }

        li.active {
            background: #522b1c;
        }
    
}


    .hero-slideshow {
        width: 100%;
        position: relative;
        overflow: hidden;
        padding-bottom: 25%;
        transition: opacity 0.3s ease;
      
      }
      .slide-container{
        padding-bottom: 150px;
      }
      .slide {
        width: 100%;
        padding-bottom: 37%; 
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
      
      }
      
      .slide-content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 0%);
        text-align: center;
        color: white;
      }
      /* Make the whole slide a flex container */
      /* Reset to block display */
      /* Overall styling of the slide. Making it flexy! */
      .hero-slideshow .slide {
          display: flex;
          align-items: center; /* This centers the content vertically */
          justify-content: center; /* This centers the content horizontally */
          position: relative;
      }
      
.slide-content {
  position: absolute;
  top: 100%; /* Initially positioned below the slide */
  left: 50%;
  transform: translateX(-50%) scaleX(0) rotateY(90deg); /* Initially stretched horizontally */
  transform-origin: bottom right; 
  background: rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  width: auto;
  max-width: 100%;
  padding: 0 1rem;
  transform: translateX(-50%) scaleX(0.2) scaleY(0.2);
  transition: transform 2s cubic-bezier(0.32, 1, 0.32, 1), right 2s ease; /* Apply transitions */
  overflow: hidden; /* Hide any overflow from the stretched content */
  /* Prevent line breaks in stretched content */
  opacity: 0; /* Initially invisible */
  color: rgba(255, 255, 255, 1); /* Initially white text color */
  animation: glitchIn 0.5s cubic-bezier(0.33, 0, 0.67, 1) 0.1s forwards; 
}
/* Define keyframes for the glitch and fade-in animation */
@keyframes glitchIn {
    0% {
      transform: perspective(1000px) rotateY(180deg) translateX(2px); /* Initial flip state with a slight translation */
      right: 100%; /* Initially positioned to the right */
      opacity: 0; /* Initially invisible */
      color: rgba(255, 255, 255, 0.8); /* Initial text color with slight distortion */
    }
    25% {
      transform: perspective(1000px) rotateY(0deg) translateX(-2px); /* Flip back to normal state with slight translation */
      right: 0; /* Slide in from the right */
      opacity: 1; /* Fade in */
      color: rgba(255, 255, 255, 1); /* Transition to full white text color */
    }
    100% {
      transform: perspective(1000px) rotateY(0deg); /* Flip back to normal state */
      right: 0; /* Slide in from the right */
      opacity: 1; /* Fully visible */
      color: rgba(255, 255, 255, 1); /* White text color */
    }
  }
@keyframes flipIn {
    from {
      transform: translateX(-50%) scaleX(0.2) scaleY(0.2) rotateY(90deg);
      right:100%;
      opacity: 0; /* Initially invisible */
    }
    to {
      transform: translateX(-50%) scaleX(1) scaleY(1) rotateY(0deg);
      right:0%;
      opacity: 1; /* Fade in */
    }
  }
/* Apply animation when the slide is active */
.slick-active .slide-content {
    
    animation: flipIn 1s cubic-bezier(0.33, 0, 0.67, 1) 0.5s forwards;
}
  
  
      .slide-content h2, 
      .slide-content p {
        color: white;
        margin-bottom:0px;
        line-height: 120%;
      }
      
      
      .slide-content p {
          font-size: 1.25rem; /* Equivalent to 20px, adjust as needed */
          text-align: center;
          font-size: 1.25rem; /* This would be equivalent to 32px, adjust as desired */
          
          
          text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
      }
      
      .slide-content p.caption {
          font-size: 1rem; /* 16px, adjust if you want the caption smaller or bigger */
      }
      /* You can add @media queries below to further fine-tune for specific screen sizes if necessary. */
      @media (max-width: 1024px) {
          .slide-content h2 {
              font-size: 1.75rem; 
          }
      
          .slide-content p {
              font-size: 1rem;
          }
      }
      .slide-content h2, 
      .slide-content p {
          line-height: 1.4; 
      }
      @media (max-width: 768px) {
          .slide-content h2 {
              font-size:70%;
          }
      
          .slide-content p {
            font-size:50%;
        }
      }
     
.slick-prev,
.slick-next {
    //font-size: 1em;
    line-height: 0;
    position: absolute;
    top: 32%;
    display: block;
    width: 30px;
    max-width: 8%;
    height: 30px;
    margin-top: -10px;
    padding: 0;
    cursor: pointer;
    color: #3bbfd6;
    border: none;
    outline: none;
    border-radius: 50%;
    z-index: 100;
    display: none !important;
}

.slick-prev {
    left: -20px;
    content: ">";
   
}

.slick-next {
    right: -20px;
    }

      .slick-dots li.slick-active button {
        background: radial-gradient(circle at center, #FFA500 0%, #FFD700 40%, #FFA500 40%);
        border: 1px solid #FFD700;
     }
    

     @media (max-width: 767px) {
        .slider-container {
          display: flex;
          flex-direction: column;
          align-items: center;
        }
      
        .title,
        .caption,
        .description {
          width: 100%;
          text-align: center;
          font-size: 18px; /* Adjusted font size for mobile */
          margin: 10px 0; /* Add spacing between elements */
        }
      }