.video-wrap {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    margin-bottom: 10px;
    iframe {
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }
}


#conference-playlist {
    position: relative;
    z-index: 100;
    @media(min-width: 1281px) {
        .panel-heading {
            padding: 1em 1em 2.5em;
        }
    }
    @media(min-width: 768px) and(max-width: 1280px) {}
    @media(max-width: 767px) {
        top: 10%;
        .panel-title {
            font-size: 3vw;
            img {
                width: 25%;
                max-width: 150px;
                margin-right: 10px;
            }
        }
        .panel-speakers {
            font-size: 3vw;
            line-height: 120%;
        }
        .panel-heading {
            padding: 3px;
            clear: both;
            height: 0px;
            padding: 1% 3px 15% 3px;
        }
        .panel-heading a:after {
            content: "";
        }
        .panel {
            border: 0px;
            background: transparent;
        }
    }
}

#bg-video {
    background-color:#000;    
    max-height:85vh;
    video {
    width: 100vw;
    margin-top: 50px;
    opacity:1;
    }
}

@media only screen and (max-width: 720px) {
    #bg-video video {
        width: 100vw;
    }
    #home-tagline {
        min-height:auto!important;
        h1 {font-size: 12px!important;}
        h2 {display:none;} 
    }
}

#home-tagline {
    width: 100%;
    min-height:10vh;
    text-align:center;
    color:#fff;
    z-index: 900;
    background-color: #000;
    padding:12px;
    position:relative;
    h1,h2 {
        color:#fff;
        padding:0;
        margin: 0 auto;
    }
    h1 {
        letter-spacing: 4px;
        font-weight: 400;
        font-size: 30px;
        text-transform: uppercase;        
    }
    h2 {font-size: 18px;
        font-weight: 400;
        max-width: 975px;
    }
} 
.overlay-video {
    display: none;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    opacity: 0;
    -ms-transition: opacity 600ms ease-in;
    transition: opacity 600ms ease-in;
    -ms-transition: opacity .6s;
    transition: opacity .6s;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, .7);
    z-index: 999999;
  }
  
  .o1 {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    opacity: 1;
    -ms-transition: opacity 600ms ease-out;
    transition: opacity 600ms ease-out;
    -ms-transition: opacity .6s;
    transition: opacity .6s;
  }
  
  .videoWrapperExt {
    position: relative;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    max-width: 982px;
    padding: 0 20px;
  }
  
  .videoWrapper {
    position: relative;
    padding-bottom: 56.25%;
    /* 16:9 */
    height: 0;
  }
  
  .videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  .close {
   background-image:url(http://djit.ac/assets/images/news/mark.png);
    position: absolute;
    top: -50px;
    right: 0px;
    cursor: pointer;
    z-index: 9999;
    height: 40px;
    width: 40px;
    background-size: 40px;
    @media (max-width: 767px) and (orientation: landscape) {
      display: none;
    }
  }
  
